@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-primary-grey: #E8EAEC;
  --color-primary-black: #000;
  --color-primary-white: #fff;

  /* Background color */
  --color-body-bg: var(--color-primary-grey);

  /* Border Color */
  --color-border-primary: #d4d3d3;

  /* Layout  */
  --cotainer--main: 64rem;

  /* Padding Inline */
  --spacing-padding-inline: 8px;

  /* Blur bg */
  --backdrop-blur: #cbcbcb;

}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-border-primary);
    border-right-color: var(--color-border-primary);
    animation: rotate 1s infinite linear;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: var(--color-body-bg);
  color: var(--color-primary-black);
}

.line-layout {
  border-left: 1px solid var(--color-border-primary);
  border-right: 1px solid var(--color-border-primary);
}

.video {
  --media-object-fit: cover;
}

/* .video {
  width: 100%;
  height: 100vh;
  --media-object-fit: cover;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 34px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 100px 50px 50px;
  color: #fff;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
} */

/* 8d59e36e-0daa-44bf-9e99-fafba88924b0 */
/* 8y2SW+CCc7LijetYlkI0Ztm2NlEkGrbxt5rsOL60RvHuSSfcT8U0Ec8XgKEaYmie3LoBoxgF9Pc */

.link:hover {
  color: white;
}

.link::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--color-primary-black);
  z-index: -1;
  transition: all 1s;
}

.link:hover::before {
  width: 160%;
}

@keyframes gradient-calm {

  0%,
  100% {
    background-position: 50% -20%;
  }

  50% {
    background-position: 52% -18%;
  }
}


.slider {
  position: relative;
  background-color: red;
}

.list {
  animation: scroll 15s linear infinite;
  background-color: burlywood;
}

.list>* {
  flex: 0 0 auto;
}

.list:hover {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
  .track {
    animation: none;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }

}