@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #d96dfa4c;
  --color-primary-black: #08001a;
  --color-primary-white: #fff;

}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-border-primary);
    border-right-color: var(--color-primary-black);
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

}

html {
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
}